/.metadata/
/NetBeans/Nuevo/nbproject/private/
/NetBeans/Nuevo/build/
/NetBeans/3-Trimestre-ExamenAlcatriz/nbproject/private/
/NetBeans/componentesVentana/nbproject/private/
/NetBeans/componentesVentana/build/
/NetBeans/Inicio/nbproject/private/
